<h1>Twitterer</h1>

<% if @tweets.present? %>
<div>
  <ul>
  <% @tweets.each do |tweet| %>
    <li><%= tweet.user.name %> | <%= raw(tweet.full_text.gsub(/http(.*)\b/, '<a href="\1">\1</a>')) %></li>
  <% end %>
  </ul>
</div>
<% end %>
