#twitterer {
  max-width: 786px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 10% 10% auto;
  grid-template-columns: repeat(12, 8.33333%);
  font-family: 'IBM Plex Serif', serif;
  .logo {
    grid-column: 1 / 12;
    grid-row: 1 / 1;
    h1 {
      text-align: right;
      font-family: 'Pacifico', serif;
    }
  }
  .header {
    grid-column: 1 / 12;
    grid-row: 2 / 2;
  }
  .body {
    grid-column: 1 / 12;
    grid-row: 3 / 3;
  }
  ul {
    list-style-type: none;
    list-style-position: inside;
    padding-left: 0;
  }
  li {
    display: block;
    margin: 0.5rem 0;
  }
  a {
    text-decoration: none;
  }
  input, button {
    font-family: 'IBM Plex Serif', serif;
  }
}